footer
    background: #f6f7f6
    display: flex
    justify-content: space-around
    padding: 10px
    color: black
    border-top: 1px solid rgba(150, 150, 150, 0.8)
ul
    text-decoration: none
    display: flex
    gap: 15px
